<p class="result-name">Your score: <span class="red"><%= data.quiz.score %>/<%= data.quiz.questions.length %></span></p>

<p class="result-name">Hints used: <span class="red"><%= data.quiz.hintCounter %></span></p>

<p class="result-description">Nice job! You should consider a job in Seattle tourism. You really know this city.</p>

<p class="award">You get springtime Space Needle.</p>

<section class="result-image">
  <img src="./assets/results/springtime.jpg">
  <p class="credit">Elaine Thompson / The Associated Press</p>
</section>

<!--<a class="restart-button">Retry quiz</a>-->

<a class="share-completed"></a>