<div class="viewport">
  <div class="aspect-outer">
    <div class="aspect-inner">
      <img src="assets/large/<%= data.image.large.file %>" class="large">
      <img src="assets/small/<%= data.image.small.file %>" class="small">
    </div>
  </div>
</div>
<div class="answers">
  <p class="instructions">
    What building is shown in the photo above?
  <ul class="answer-list">
    <% data.answers.forEach(function(item, i) { %>
    <li class="answer-item" data-index=<%= i %>> <%= item.answer %>
    <% }); %>
  </ul>
  <button class="next-button">Next question</button>
</div>