<div class="viewport">
  <div class="aspect-outer">
    <div class="aspect-inner">
      <img src="assets/large/<%= data.image.large.file %>" class="large">
      <img src="assets/small/<%= data.image.small.file %>" class="small">
      
      <div class="status">
        #<%= data.id %> of 12
      </div>

      <div class="hint">
        <a class="hint-button"><i class="fa fa-question-circle"></i></a>
        <span class="hint-text"><%= data.hint %></span>
      </div>
    </div>
  </div>
</div>


<div class="answers">
  <ul class="answer-list">
    <% data.answers.forEach(function(item, i) { %>
    <li class="answer-item" data-index=<%= i %>> <label><%= item.answer %></label>
    <% }); %>
  </ul>

  <button class="next-button">Next question</button>

  <div class="answer-info">
    <h2 class="its-the">
      <span class="right">Right.</span>
      <span class="wrong">Wrong.</span>
      <%= data.reveal %>
    </h2>
    <ul class="stats">
      <li> <strong>Location:</strong> <%= data.location %>
      <li> <strong>Designed by:</strong> <%= data.designer %>
      <li> <strong>Year completed:</strong> <%= data.completed %>
    </ul>
    <p class="caption"><%= data.caption %></p>
  </div>

</div>