<div class="viewport">
  <div class="aspect-outer">
    <div class="aspect-inner">
      <img src="assets/large/<%= data.image.large.file %>" class="large">
      <img src="assets/small/<%= data.image.small.file %>" class="small">
    </div>
  </div>
</div>
<div class="answers">
  <ul class="answer-list">
    <% data.answers.forEach(function(item, i) { %>
    <li class="answer-item" data-index=<%= i %>> <label><%= item.answer %></label>
    <% }); %>
  </ul>
  <button class="next-button">Next question</button>
  <div class="hint-button">Hint?</div>
  <div class="hint">It’s received more praise than any architectural work in Seattle in the past decade.</div>
  <p class="itsthe"><span class="right-wrong">Wrong.</span> It's the Seattle Public Library.</p>
  <p class="caption">The diamond-shaped glass panels on the outside of the Seattle Public Library are made differently depending on where they are. The glass is clear on parts of the building that don’t see much sun, but on the sunny parts the glass includes a layer of thin metal that reduces heat. (The library was the first building in the U.S. built with this technique.) The sun sees the glass as opaque, but from the inside, the glass looks transparent. The inside, after all, is where the real design zaniness lies, and if you’ve seen those Kubrick-esque red hallways — you know that’s another story.</p>
</div>