@import "values";

header {
  width: 100%;
  padding: 0 8px;
  text-align: center;

  .quiz-label {
    text-transform: uppercase;
    font-size: 16px;
    font-family: @block;
    font-weight: normal;
    color: white;
    background: @df-middle-gray;
    display: inline-block;
    padding: 5px;
    margin: 5px auto 0;

    @media @tablet {
      font-size: 14px;
    }
  }

  .title {
    font-family: @block;
    color: @df-dark-gray;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1.2em;
    margin: 5px auto;

    @media @mobile {
      font-size: 1.8em;
      line-height: 1em;
      margin-bottom: 0;
    }

    .red {
      font-size: 1.7em;
      line-height: 1em;
      display: block;
      color: @red;

      @media @mobile {
        font-size: 1.2em;
      }
    }
  }

  .chatter {
    color: @dark-gray;
    font-family: @body;
    font-size: 1.2em;
    text-align: center;
    margin: 0.5em auto 1em;
    max-width: 840px;
  }
}

.illustration {
  width: 100%;
  position: relative;
}

// SHARE BUTTON
.share {

  &.sharer-0 {

    &.share-quiz {
      display: inline-block !important;

      @media @tablet {
        display: block !important;
        margin: 10px auto;
      }
    }

    label {
      border-radius: 0 !important;
      background: @df-middle-gray !important;
      transition: background .15s linear;
      color: white !important;

      span {
        font-family: @block !important;
        font-weight: normal !important;
        font-size: 1em !important;
      }

      &:hover {
        background: @dark-blue !important;
        opacity: 1 !important;
      }
    }

    &.share-completed {
      width: 100% !important;

      label {
        background: @dark-blue !important;

        &:hover {
          background: @df-dark-gray !important;
        }
      }
    }
  }
}

footer {
  width: 100%;
  clear: both;
  margin: 1em auto;
}