@import "values";

.results-page {
  padding: 8px;
  font-family: @body;
  color: @dark-gray;
}

.result-name {
  font-family: @block;
  text-transform: uppercase;
  display: inline-block;
  font-size: 28px;
  line-height: 1.2em;
  width: 100%;
  margin: 5px 0;
}

.award {
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.2em;
  margin: 20px 0 0;
}

.result-description {
  margin: 5px auto;
  font-size: 1.2em;
}

.green {
  color: @green;
}

.red {
  color: @red;
}

.credit {
  margin: 2px;
  float: right;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;

  a {
    color: @dark-gray;
  }
}

.result-image {
  margin: auto;

  img {
    width: 100%;
  }
}