* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "architecture";
@import "seattletimes";
@import "values";
@import "flexbox";

@mobile: ~"(max-width: 480px)";
@tablet: ~"(max-width: 768px)";
@blue: #164c75;
@green: #8eb607;
@gray: #AAA;
@dark-gray: #555;
@block: 'Paytone One', sans-serif;
@narrow: 'Oswald', sans-serif;


main.wrapper {
  max-width: 600px;
  margin: auto;

  @media @mobile {
    font-size: 14px;
    line-height: 1.2;
  }
}

.viewport {
  position: relative;
  overflow: hidden;

  .aspect-outer {
    width: 100%;

    .aspect-inner {
      height: 0;
      padding-bottom: 100%;
    }
  }

  max-width: 100%;

  img {
    position: absolute;
    max-width: none;

    &.transformed {
      width: auto !important;
    }

    &.small {
      position: relative;
      width: 100%;
      transform-origin: top left;
    }

    &.large {
      max-width: 100%;
    }
  }
}

.animated-transform {
  @duration: 1s;
  transition: -webkit-transform @duration;
  transition: -moz-transform @duration;
  transition: -ms-transform @duration;
  transition: transform @duration;
}

.animated-fadeout {
  transition: opacity .4s linear;
  opacity: 0;
}

.next-button {
  display: none;
  border: none;
  background: @df-blue;
  color: @df-off-white;
  padding: 8px;
  font-size: 20px;

  .answered & {
    display: block;
    width: 100%;
  }
}

.answer-list {
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  font-family: @df-sans;
  .display-flex;
  .flex-wrap(wrap);

  .answer-item {
    cursor: pointer;
    background: @df-middle-gray;
    color: @df-off-white;
    padding: 8px;
    transition: background-color .1s linear;
    float: left;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    .flex(0 0 50%);
    .display-flex;
    .align-items(center);
    .justify-content(center);

    label {
      display: block;
      text-align: center;
    }

    &:hover {
      background: @df-dark-gray;
    }

    &::after {
      content: " ";
      display: inline-block;
      text-align: center;
    }

    &.right {
      color: white;
      font-weight: bold;
      background: @df-blue;
    }

    &.wrong.picked {
      color: @df-light-gray;
      background: @df-orange;
    }

    &.picked {
      // &.right::after {
      //   content: "✔";
      // }

      // &.wrong::after {
      //   content: "✘";
      // }
    }
  }
}