* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "values";

.quiz-frame {
  max-width: 600px;
  margin: auto;
}

.viewport {
  position: relative;
  width: 600px;
  overflow: hidden;
  height: 600px;

  img {
    position: absolute;

    &.small {
      position: relative;
      width: 100%;
      transform-origin: top left;
    }
  }
}

.animated-transform {
  @duration: 1s;
  transition: -webkit-transform @duration;
  transition: -moz-transform @duration;
  transition: -ms-transform @duration;
  transition: transform @duration;
}

.animated-fadeout {
  transition: opacity .4s linear;
  opacity: 0;
}

.next-button {
  display: none;
  border: none;
  background: @df-blue;
  color: @df-off-white;
  padding: 8px;
  font-size: 20px;

  .answered & {
    display: block;
  }
}

.answer-list {
  list-style-type: none;
  padding: 0;
  maring: 0;

  .answer-item {
    cursor: pointer;
    &:hover {
      color: @df-goldenrod;
    }

    &::before {
      content: "•";
      width: 20px;
      display: inline-block;
      text-align: center;
    }

    &.right {
      color: @df-blue;
    }

    &.wrong {
      color: @df-maroon;
    }

    &.picked {
      &.right::before {
        content: "✔";
      }

      &.wrong::before {
        content: "✘";
      }
    }
  }
}