.viewport {
  position: relative;
  overflow: hidden;

  .aspect-outer {
    width: 100%;

    .aspect-inner {
      height: 0;
      padding-bottom: 100%;
    }
  }

  max-width: 100%;

  img {
    position: absolute;
    max-width: none;
    -webkit-transform-origin: top left;
    transform-origin: top left;

    &.transformed {
      width: auto !important;
    }

    &.small {
      position: relative;
      width: 100%;
      transform-origin: top left;
    }

    &.large {
      max-width: 100%;
    }
  }

  &.loading {
    img.large {
      display: none;
    }
  }

  .status {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: red;
    color: @df-off-white; 
    font-size: 14px;
    text-align: right;
    opacity: 0.9;
    padding: 8px;

  }

  .hint {
    position: absolute;
    /*-moz-border-radius: 15px;*/
    /*-webkit-border-radius: 6px;*/
    
    bottom: 0;
    right: 0;
    background: @red;
    opacity: 0.9;
    margin: 15px;


    .hint-button {
      float: right;
      color: white;
      cursor: pointer;
      font-size: 90%;
      position: relative;
      padding: 9px;

      @media @mobile {
        font-size: 130%;
        padding: 15px;
      }
    }


    .hint-text {
      display: none;
      background: @red;
      color: @df-off-white;
      font-size: 18px;
      padding: 8px 15px;

      &.show {
        display: block;
      }
    }
  }
}

.animated-transform {
  @duration: 1s;
  transition: -webkit-transform @duration;
  transition: -moz-transform @duration;
  transition: -ms-transform @duration;
  transition: transform @duration;
}

.animated-fadeout {
  transition: opacity .4s linear;
  opacity: 0;
}