<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <div class="quiz-frame"></div>

    <script>
<%
var images = {};

csv.coordinates.forEach(function(row) {
  var image = {};
  ["large", "small"].forEach(function(size) {
    var filename = row.file;
    var dimensions = sizes[size][filename];
    image[size] = {
      file: filename,
      width: dimensions.width,
      height: dimensions.height
    }
  });
  image.keyframe = {
    original: row.original,
    x: row.x,
    y: row.y,
    w: row.w,
    h: row.h
  }
  images[row.file.replace(".jpg", "")] = image;
});

//process questions
var questions = {};
json.ArchitectureQuiz_questions.forEach(function(row, index) {
  questions[row.id] = row;
  row.image = images[row.image];
  delete row.title;
  row.answers = [];
});
json.ArchitectureQuiz_answers.forEach(function(row) {
  row.correct = !!row.correct;
  delete row.title;
  questions[row.question].answers.push(row);
});
%>
window.imageList = <%= JSON.stringify(images) %>;
window.quizData = <%= JSON.stringify(json.ArchitectureQuiz_questions) %>;
    </script>
    <script src="app.js"></script>
    <% /*= t.include("partials/_adFoot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
