<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <div class="viewport"></div>
    <a class="next">NEXT</a>

    <script>
<%
var images = csv.coordinates.map(function(row) {
  var image = {};
  ["large", "small"].forEach(function(size) {
    var filename = row[size];
    var dimensions = sizes[size][filename];
    image[size] = {
      file: filename,
      width: dimensions.width,
      height: dimensions.height
    }
  });
  image.keyframe = {
    original: row.original,
    x: row.x,
    y: row.y,
    w: row.w,
    h: row.h
  }
  return image;
});
%>
window.imageList = <%= JSON.stringify(images) %>;
    </script>
    <script src="app.js"></script>
    <% /*= t.include("partials/_adFoot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
